<div class="modal-content">

    {% if form is defined %}
    {{form_start(form)}}
    {% endif %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">{% block modalTitle %}Chargement en cours...{% endblock %}</h4>
    </div>
    <div class="modal-body">
        {% if form is defined and form_errors(form) is not empty %}
            {{form_errors(form)}}
        {% endif %}
        {% block modalContent %}<i class="fa fa-spinner fa-spin fa-5x text-light-blue center-block"></i>{% endblock %}
    </div>
    <div class="modal-footer">
        {% block modalFooter %}
            <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary">Sauvegarder</button>
        {% endblock %}
    </div>
    {% if form is defined %}
    {{form_end(form)}}
    {% endif %}
</div>
